@model Backend.Models.Collection

@{
    ViewData["PageTitle"] = Model.Title;

    List<CollectionPost>? colPosts = ViewData["colPosts"] as List<CollectionPost>;
}

<h1>@Html.DisplayFor(model => model.Title)</h1>
@* SKA KUNNA TA BORT DE OLIKA INLÄGGEN HÄRIFRÅN GENOM ATT AVCHECKA BOXAR *@
@{
    for (var i = 0; i < colPosts?.Count; i++)
    {
        <a asp-controller="Post" asp-action="Details" asp-route-id="@colPosts[i].PostId">
            <article class="discover-post">
                <div class="discover-post-info">
                    <img src="~/logo.png" alt="" class="discover-post-img">
                    <div>
                        <h3>@Html.DisplayFor(modelItem => colPosts[i].Post.Title)</h3>

                        <p>@Html.DisplayFor(modelItem => colPosts[i].Post.Date)</p>
                        <p>@Html.DisplayFor(modelItem => colPosts[i].Post.User.UserName)</p>
                    </div>
                </div>
            </article>
        </a>
    }
}
<div>
    <a asp-action="Delete" asp-route-id="@Model?.Id">Radera</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
