@model Backend.Models.Post

@{
    ViewData["PageTitle"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

<div>
     @Html.DisplayFor(model => model.Date)
     
    @Html.DisplayFor(model => model.User.UserName)
</div>

<div>
    <div>
        @Html.DisplayFor(model => model.Description)
    </div>
    <div>
        @Html.DisplayFor(model => model.Content)
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Posts"><button class="return-button">← Tillbaka</button></a>
</div>
