@model Backend.Models.Post

@{
    ViewData["PageTitle"] = Model.Title;
    var subscribe = ViewData["sub"];
    var Id = ViewData["subId"];
    var owns = ViewData["own"];
    var postId = Model.Id;
}

<div class="details-main-div">
    <h1>@Html.DisplayFor(model => model.Title)</h1>

    <div class="details-info-div">
        @Html.DisplayFor(model => model.Date),

        @Html.DisplayFor(model => model.User.UserName)
    </div>
    <img src="~/logo.png" class="details-img">
    <div class="details-desc-div">
        <button id="details-show-desc-btn" class="details-desc-div-btn-dormant">Description</button>
        <div id="details-desc-toggle-div" class="hidden">
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
    </div>

    <div class="details-content-div">
        <p>@Html.DisplayFor(model => model.Content)</p>
    </div>
    @ViewData["own"]
    @if (owns == "true")
    {
        <a asp-action="Posts"><button class="return-button">Mina inlägg</button></a>
        <div class="publish-div">
            <a asp-action="Edit" asp-route-id="@Model?.Id"><button class="publish-button">Redigera</button></a>
        </div>
    }
</div>

@if (subscribe == "true")
{
    <form asp-controller="Subscription" asp-action="Delete">
        <input type="hidden" asp-for="@Id" />
        <input type="submit" value="Delete" class="" />
    </form>
}
else
{
    <form asp-controller="Subscription" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@postId" />
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
}

@* SKA KUNNA SE ALLA SAMLINGAR OCH SE VILKA SOM INLÄGGET REDAN LIGGER I OCH TA BORT INLÄGGET FRÅN DE SAMLINGARNA *@
<form asp-controller="CollectionPost" asp-action="Create">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@postId" />

    <div class="form-group">
        <label for="cId" class="control-label"></label>
        <select class="form-control" name="cId" id="cId" asp-items="ViewBag.CollectionId"></select> 
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>

</form>
