@model IEnumerable<Backend.Models.Post>

@{
    ViewData["PageTitle"] = "Utforska";
}


<div class="discover-posts-heading">
    <h1>Utforska</h1>
    <p>Upptäck blogginlägg</p>
</div>
<section class="discover-posts-div">
    @foreach (var item in Model)
    {
        var desc = item.Description;
        <article class="discover-post">
            <div class="discover-post-info">
                <img src="~/logo.png" alt="" class="discover-post-img">
                <div>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    </a>
                    <p>@Html.DisplayFor(modelItem => item.Date)</p>
                </div>
            </div>

            <div class="discover-post-text">
                @* Kollar om desc är tom och om den är det så skapas en desc med content *@
                @if (desc != null) {
                <p>@Html.DisplayFor(modelItem => item.Description) : 
            <a asp-action="Details" asp-route-id="@item.Id" class="discover-post-readmore">Läs mer</a></p>
            } else {
            var content = item.Content;
            desc = content?.Substring(0,200);

                <p>@Html.Raw(desc)... : 
            <a asp-action="Details" asp-route-id="@item.Id" class="discover-post-readmore">Läs mer</a></p>
            }
            </div>
            
        </article>
    }
</section>
